body {
    background-color: #F8F8F8;
}

.header {
    padding: 20px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: solid 2px #D9FFF5;
    font-family: ;
}

.body {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 2500;
    row-gap: 10px;
    column-gap: 20px;
}


.arrow-down {
    padding-right: 10px;
    padding-left: 10px;
}

.btn {
    padding-left: 20px;
    cursor: pointer;
    border: none;
    background-color: #F8F8F8;
}

.body__logo {
    display: block;
}

.hidden {
    display: none !important;
}